<div class="rl-advanced-banner-button button-align-x-{{ layer.config.buttonAlignX }} button-align-y-{{ layer.config.buttonAlignY }}">
    <a href="{{ layer.config.buttonLink }}"
       target="{{ layer.config.buttonTarget }}"
       class="btn btn-{{ layer.config.buttonVariant }}">
        {{ layer.config.content|raw }}
    </a>
</div>
